<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div th:replace="plantilla/plantilla :: listaMenu"></div>
        </div>
        <div class="card-body">
          <h2 th:text="${titulo}"></h2>
          <form th:action="@{/admin/rutas/save}" class="form-inline" th:object="${rutas}" method="POST">
            <input type="hidden" th:field="*{id}">
            <div class="form-group mx-sm-3 mb-2">
              <label for="id_from"  class="col-form-label">Ciudad de Origen</label>
              <select th:field="*{areas_from}" id="id_from" class="form-control">
                <option th:each="areas:${areasLista}" th:value="${areas.id}" th:text="${areas.nombre}"/>
              </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="id_to" class="col-form-label">Ciudad de Destino</label>
              <select  th:field="*{areas_to}" id="id_to" class="form-control">
                <option th:each="areas:${areasLista}" th:value="${areas.id}" th:text="${areas.nombre}"></option>
              </select>
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="id_to" class="col-form-label">Precio Adulto</label>
              <input type="text" th:field="*{precio_adulto}" id="precio_adulto" class="form-control">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="precio_infante" class="col-form-label">Precio Infante</label>
              <input type="text" th:field="*{precio_infante}" id="precio_infante" class="form-control">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="precio_equipaje" class="col-form-label">Precio Equipaje</label>
              <input type="text" th:field="*{precio_equipaje}" id="precio_equipaje" class="form-control">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="hora_salida" class="col-form-label">Fecha de Inicio</label>
              <input type="date" th:field="*{fecha_inicio}" id="hora_salida" class="form-control">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="hora_llegada" class="col-form-label">Fecha Final</label>
              <input type="date" th:field="*{fecha_final}" id="hora_llegada" class="form-control">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <label for="habilitado" class="form-label">Ruta Habilitada?</label>
              <select th:field="*{habilitado}" id="habilitado" class="form-control">
                <option value="1" selected="selected">Habilitado</option>
                <option value="0">Deshabilitado</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2" th:text="${btntitulo}" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>
</html>
